[user]
	email = jholowczak@gmail.com
	name = John Holowczak
[init]
	defaultBranch = main
[push]
	default = simple
[pull]
	rebase = true
[core]
	excludesFile = ~/.gitignore
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$\\`echo $VAR\\`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
[safe]
	directory = /opt/flutter
