/*-*- mode: css; -*-*/
configuration {
    modi: "window,run,ssh,layout:~/.config/rofi/bsplayout.sh,hamster:~/.config/rofi/hamster.py";
	case-sensitive: false;
	fixed-num-lines: true;
	matching: "fuzzy";
	font: "Overpass Light 16";
	kb-remove-to-eol: "";
	kb-accept-entry: "Return";
	kb-row-up: "Up,Control+k";
	kb-row-down: "Down,Control+j";
}
@theme "/usr/share/rofi/themes/sidebar.rasi"

/* vim:ft=css
