tmux/.tmux/resurrect
vim/.vim/session
vim/.vim/bundle
plug.vim.old
*.patch
*.diff
fish/.config/fish/fishd*
fish/.config/fish/fish_history
emacs/*
!emacs/.emacs.d/init.el
nushell/.config/nushell/history.txt
fish/.config/fish/functions/*.fish
fish/.config/fish/conf.d/virtualfish-loader.fish
tmux/plugins/tmux*
config/nvim/lua/.luarc.json
config/nvim/.luarc.json
config/eww/scripts
config/fish/extra.fish
config/fish/extra_functions
config/gtk-*.0/**.svg
w3m/cookie
config/nvim/lazy-lock.json
