[submodule "polybar/.config/polybar/scripts"]
	path = polybar/.config/polybar/scripts
	url = https://github.com/polybar/polybar-scripts
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-gruvbox"]
	path = tmux/.tmux/plugins/tmux-gruvbox
	url = https://github.com/egel/tmux-gruvbox
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "fish/.local/share/omf"]
	path = fish/.local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
[submodule "rofi/.config/rofi/rofi-hamster"]
	path = rofi/.config/rofi/rofi-hamster
	url = https://gitlab.com/matclab/rofi-hamster
