configuration {
	bw: 0;
	location: 0;
	padding: 250;
	terminal: "termite -e";
	separator-style: "none";
	hide-scrollbar: true;
	fullscreen: true;
	fake-transparency: false;
	scroll-method: 1;
	color-window: "#282828,#676d3d,#676d3d";
	//color-urgent: "#00000000,#dedede,#00000000,#00000000,#cc0000";
	//color-active: "#00000000,#dedede,#00000000,#00000000,#3083ae";
	color-normal: "#282828,#ebdbb2,#303030";
}

/* vim:ft=css
