configuration {
	bw: 0;
	location: 0;
	padding: 250;
	terminal: "termite -e";
	separator-style: "none";
	hide-scrollbar: true;
	fullscreen: true;
	fake-transparency: false;
	scroll-method: 1;
	color-normal: "#00000000,#dedede,#00000000,#00000000,#3083ae";
	color-urgent: "#00000000,#dedede,#00000000,#00000000,#cc0000";
	color-active: "#00000000,#dedede,#00000000,#00000000,#3083ae";
	color-window: "#e5000000,#000000,#dedede";
}
